.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid;
  border-color: var(--orange-500);
  background-color: var(--white);
}

.headerNavList {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 3rem;

  .link {
    &:hover {
      text-decoration: none;
      color: var(--orange-500);
    }
  }
}
